body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculadora {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: auto;
}

.display {
    font-size: 24px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    overflow-y: scroll; /* Adiciona uma barra de rolagem caso haja muitos números */
    height: 60px; /* Altura fixa para a caixa de texto */
}

.tecla {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f9f9f9;
    cursor: pointer;
    outline: none;
}

.tecla.operador {
    background-color: #f1f1f1;
}

.tecla.igual {
    background-color: #28a745;
    color: #fff;
}
